<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Post a Comment</h5>

      <%= simple_form_for [ @article, @comment] do |f| %>
        <p>
          <%= f.input :name %>
        </p>

        <p>
          <%= f.input :comment %><br>
        </p>

        <p>
          <%= f.button :submit, class: "btn-primary" %>
        </p>

      <% end %>
    </div>
  </div>
</div>
