<div class="container">
  <div class="jumbotron text-white bg-dark">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple blog built using Ruby on Rails. Click below to check out an article.</p>
    <hr class="my-4">
    <% @articles.each do |article| %>
      <p>
        <a class="text-white" href="articles/<%= article.id %>" role="button"><%= article.title %></a>
      </p>
    <% end %>
    <a class="btn btn-light btn-lg" href="articles/new" role="button">Create a New Article</a>
  </div>
</div>
